$primary-grey-color: #555555;
$secondary-grey-color: #9d9d9c;
$hazy-grey-color: #878787;
$dark-text-color: #393939;
$accent-color: #006df3;
$white-color: #fff;
$black-text-color: #000000;
$features-background-color: #fafafa;
$dark-background-color: #191919;
$very-dark-background-color: #111111;

$primary-font: "Gotham Pro";
$secondary-font: "Montserrat";
$accent-font: "Raleway";
