.page-header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $dark-background-color;
}

@include for-tablet-up {
  .page-header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;

    width: 100%;

    padding-top: 20px;
    padding-bottom: 20px;
  }
}
